<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meals</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>

<body>
  <div id="menu-bar-container">
    <div id="menu-bar">
      <h1>Book-A-Meal</h1>
    </div>
  </div>

  <div class="clear"></div>
  <div id="menu-bar-2-container">
    <div id="menu-bar-2">
        <a class="shadow">Admin</a>
        <a href="admin_menu.html">Menu</a>
        <a href="admin_history.html">History</a>
        <a href="menu.html">Main Menu</a>
        <a href="index.html">Logout</a>
    </div>
</div>

  <div class="container">
    <div>
        <a class="button" id="new-book" href="admin_add_book.html">Add New book</a>
    </div>
    <table class="table">

      <tr>
        <th>id</th>
        <th>Book</th>
        <th>Author</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      <tr>
        <td>1</td>
        <td>lion the constraint</td>
        <td>messi lionel</td>>
        <td>
          <a class="button" href="admin_add_book.html">Update</a>
        </td>
        <td>
          <a class="button" href="#">Delete</a>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td>lion king</td>
        <td>lionel</td>
        <td>
          <a class="button" href="admin_add_book.html">Update</a>
        </td>
        <td>
          <a class="button" href="#">Delete</a>
        </td>
      </tr>

      <tr>
        <td>3</td>
        <td>Khaligraoht</td>
        <td>Kenneth love</td>
        <td>
          <a class="button" href="admin_add_book.html">Update</a>
        </td>
        <td>
          <a class="button" href="#">Delete</a>
        </td>
      </tr>

      <tr>
        <td>4</td>
        <td>Kiswahili muftit</td>
        <td>kamwere John</td>
        <td>
          <a class="button" href="admin_add_book.html">Update</a>
        </td>
        <td>
          <a class="button" href="#">Delete</a>
        </td>
      </tr>


    </table>
  </div>
</body>

</html>