<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin-Add-Book</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>

<body>
    <div id="menu-bar-container">
        <div id="menu-bar">
            <h1>Leon Library</h1>
        </div>
    </div>

    <div class="clear"></div>

    <div id="menu-bar-2-container">
        <div id="menu-bar-2">
            <a class="shadow">Admin</a>
            <a href="admin_books.html">Books</a>
            <a href="admin_history.html">History</a>
            <a href="books.html">Main Library</a>
            <a href="index.html">Logout</a>
        </div>
    </div>

    <div class="container">
        <div class="main-form">
            <div class="form">
                <form action="admin_books.html">
                    <h2>Book</h2>
                    <input type="text" name="menu_item" placeholder="Menu Item">
                    <input type="text" name="price" placeholder="Price">
                    <button type="submit" class="button">Save</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>