<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin-History</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>

<body>
  <div id="menu-bar-container">
    <div id="menu-bar">
      <h1>Leon Library</h1>
    </div>
  </div>

  <div class="clear"></div>

  <div id="menu-bar-2-container">
        <div id="menu-bar-2">
            <a class="shadow">Admin</a>
            <a href="admin_books.html">Books</a>
            <a href="books.html">Main Library</a>
            <a href="index.html">Logout</a>
        </div>
    </div>

  <div class="container">
    <table class="table">

      <tr>
        <th>id</th>
        <th>book</th>
        <th>author</th>
        <th>Date borrowed</th>
        <th>borrower</th>
        <th>id</th>
        <th>Returned</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button" href="#">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button" href="#">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button" href="#">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button not-active">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button not-active">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button not-active">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button not-active">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button not-active">Returned</a>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Kitabu Cha Uzima</td>
        <td>Mwenye Uzima</td>
        <td>21/07/2018</td>
        <td>Mark</td>
        <td>12</td>
        <td>
            <a class="button not-active">Returned</a>
        </td>
      </tr>

    </table>
  </div>
</body>

</html>