<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Borrow-History</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>

<body>
  <div id="menu-bar-container">
    <div id="menu-bar">
      <h1>Leon Library</h1>
    </div>
  </div>

  <div class="clear"></div>
  <div id="menu-bar-2-container">
    <div id="menu-bar-2">
      <a href="books.html">Menu</a>
      <a href="index.html">Logout</a>
    </div>
  </div>

  <div class="container">
    <table class="table">

      <tr>
        <th>id</th>
        <th>book</th>
        <th>author</th>
        <th>Date Borrowed</th>
        <th>Date returned</th>
      </tr>

      <tr>
        <td>1</td>
        <td>lion the constraint</td>
        <td>messi lionel</td>
        <td>04/06/2018</td>
        <td>04/07/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td>31/06/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td>31/06/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td>31/06/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td>31/06/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td>31/06/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td>31/06/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td>31/06/2018</td>
      </tr>

      <tr>
        <td>2</td>
        <td>kenyan legends</td>
        <td>ken walibora</td>
        <td>05/06/2018</td>
        <td></td>
      </tr>

    </table>
  </div>
</body>

</html>